#name {
    display: flex;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    font-family: 'Playwrite HR Lijeva', serif;
    padding-bottom: 1rem;
    background-image: radial-gradient(ellipse, #ffffff, #ebdeb2);
}

#card1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-image: radial-gradient(ellipse, #ffffff, #b2ddeb);
}

#headshot1 {
    object-fit: cover;
    width: 20%;
    margin-left: 2em;
    margin-right: 3em;
    border-radius: 2%;
}

#intro {
    text-align: left;
    width: 500px;
    margin-left: 3em;
}