html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 75px;
}

main {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.body > header, .body > footer {
    flex-shrink: 0;
}

.body > header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-right: 1rem;
    margin-top: 5px;
}

#head-nav {
    background-color: #f8f9fa;
    border-bottom: 3px solid #e9ecef;
    padding: 0.5rem 0;
}

#logo {
    justify-content: flex-start;
    margin-right: auto;
    padding-left: 1rem;
}

.nav-link {
    cursor: pointer;
}

footer {
    background-color: #dadadb;
    border-top: 3px solid #e9ecef;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#email, #github, #linkedin {
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding: .5rem;
}

#github-container {
    margin-right: 100px;
    margin-left: 100px;
}